<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editor de Texto</title>
	<link rel="stylesheet" href="../static/css/styles.css">
	<script defer src="../static/js/scripts.js"></script>	
</head>
<body>
	<div class="container">		
		<div class="col-left">
			<div class="wtsFormat">
				<p>Whatsap Formatter</p>
				<button class="buttons" id='wts-btn-1'>Italic</button>
				<button class="buttons" id='wts-btn-2'>Bold</button>
				<button class="buttons" id='wts-btn-3'>Strikethrough</button>
				<button class="buttons" id='wts-btn-4'>Monospace</button>								
			</div>
		</div>
		<div class="col-main-text" id="mainText_div">
			<textarea name="" id="mainText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi suscipit odio voluptate quisquam laudantium laboriosam explicabo laborum. Fugit, accusantium porro quia voluptatibus excepturi sit incidunt minima ipsam consectetur omnis amet.</textarea>
		</div>
		<div class="col-right">		
			<div class="typography">
				<p>Typhograpy</p>
				<button class="buttons" id='btn-1'>Upper</button>
				<button class="buttons" id='btn-2'>Lower</button>
				<button class="buttons" id='btn-3'>Upper Words</button>
				<button class="buttons" id='btn-4'>Upper Phrases</button>				
				<button class="buttons" id='btn-5'>Alternate Letters</button>				
				<button class="buttons" id='btn-6'>Alternate Words</button>				
				<button class="buttons" id='btn-7'>Alternate</button>				
			</div>
			<div class="replace">
				<p>Replace</p>
				<input type="text" id="searchValue" class="inputs" placeholder="Search Value">
				<input type="text" id="newValue" class="inputs" placeholder="New Value">
							
				<button class="buttons" id="btn-8">Replace Single</button>
				<button class="buttons" id="btn-9">Replace All</button>
				
				<div>
					<label for="checkDiff" title="Defferentiate upper and lower.">Typography</label>
					<input type="checkbox" id="checkDiff" class="" checked>
				</div>
			</div>				
		</div>					 
	</div>

</body>
</html>